* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/* Containers  */
.container_panel {
  position: relative;
  top: 88px;
  margin-left: 88px;
  margin-bottom: 88px;
}

.center_panel {
  text-align: center;
  margin-bottom: 40px;
}

.left_container {
  position: absolute;
  float: left;
}

.right_container {
  position: absolute;
  float: right;
  right: 200px;
}

.btn_save_advising {
  position: absolute;
  float: left;
  left: 293px;
}

.btn_clr_tmp_advising {
  position: absolute;
  float: left;
  left: 0px;
}

.message {
  position: absolute;
  padding: 50px 0px 0px 80px;
}

/* header form */

.primary-header {
  padding: 10px;
  margin-bottom: 2px;
  height: 70px;
  background-color: #06265f;
}

.nsu-logo img {
  width: 380px;
  height: 70px;
  object-fit: contain;
  padding-left: 100px;
  align-self: center;
}

.header-right {
  float: right;
  margin: 22px;
  font-size: 18px;
  margin-right: 80px;
}

.header-right a {
  color: #fff;
}

/* Sub-header form */

.primary-sub-header {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  background-color: #ebebeb;
}

/* fixing some naming */
#sub-header-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 5px;
}

#sub-header-list li {
  width: 150px;
  margin: 15px;
  padding: 15px;
  background-color: #c4c4c4;
}

.active,
#sub-header-list li:hover {
  background-color: #a0b8bf !important;
}

#sub-header-list a {
  color: #000;
}

/* The Login Page Form */
.login-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 739px;
  height: 428px;
  background: #06265f;
}

.login-center h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 37.5px;
  color: #ffdb5b;
  margin-top: 32px;
  margin-left: 120px;
}

.login-center label {
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
}

.input-field {
  padding-top: 30px;
  padding-left: 120px;
}

.login-center input[type="text"],
.login-center input[type="password"] {
  width: 350px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22px;
}

.login-center input[type="submit"] {
  position: absolute;
  width: 139px;
  height: 56px;
  background: #1388ad;
  color: #ffffff;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}

/* Landing page */
.welcome_text {
  position: relative;
  top: 45px;
  padding: 0px 85px;
  font-size: 23px;
  color: #517e99;
}

.welcome_border_bottom {
  position: absolute;
  border: 1px solid #000000;
  top: 71px;
  width: 90%;
  left: 5%;
  height: 0px;
}

/* delete this part if not needed. */
/* Admin Panel Landings */
.landing_welcome {
  position: relative;
  top: 45px;
  padding: 0px 85px;
  font-size: 23px;
  color: #517e99;
}

.landing_welcome_border_bottom {
  position: absolute;
  border: 1px solid #000000;
  top: 71px;
  width: 90%;
  left: 5%;
  height: 0px;
}

/* The Final UI Works */
table,
th,
td {
  border-collapse: collapse;
  padding: 15px 15px;
  text-align: center;
  color: #ecf0f1;
}

table {
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #06265f;
}
td {
  color: #2c3e50;
  background-color: #ecf0f1;
}
