* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 26px;
  color: #2c3e50;
  font-weight: bold;
}

/* Containers  */
.container_panel {
  position: relative;
  top: 88px;
  margin-left: 88px;
  margin-right: 88px;
}

.center_panel {
  text-align: center;
  margin-bottom: 40px;
}

.container-right{
  display:flex;
  float: right;
  margin-bottom: 5px;
}

.left_container {
  position: absolute;
  float: left;
}

.right_container {
  position: absolute;
  float: right;
  right: 200px;
}

.btn_save_advising {
  position: absolute;
  float: left;
  left: 293px;
}

.btn_clr_tmp_advising {
  position: absolute;
  float: left;
  left: 0px;
}

.message {
  position: absolute;
  padding: 50px 0px 0px 80px;
}

/* header form */

.primary-header {
  padding: 10px;
  margin-bottom: 2px;
  height: 70px;
  background-color: #06265f;
}

.nsu-logo img {
  width: 380px;
  height: 70px;
  object-fit: contain;
  padding-left: 100px;
  align-self: center;
}

.header-right {
  float: right;
  margin: 22px;
  font-size: 18px;
  margin-right: 80px;
}

.header-right a {
  color: #fff;
}

/* Sub-header form */

.primary-sub-header {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  background-color: #ebebeb;
}

/* fixing some naming */
#sub-header-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 5px;
}

#sub-header-list li {
  width: 150px;
  margin: 15px;
  padding: 15px;
  background-color: #c4c4c4;
}

.active,
#sub-header-list li:hover {
  background-color: #a0b8bf !important;
}

#sub-header-list a {
  color: #000;
}

/* The Login Page Form */
.login-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 739px;
  height: 428px;
  background: #06265f;
}

.login-center h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 37.5px;
  color: #ffdb5b;
  margin-top: 32px;
  margin-left: 120px;
}

.login-center label {
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
}

.input-field {
  padding-top: 30px;
  padding-left: 120px;
}

.login-center input[type="text"],
.login-center input[type="password"] {
  width: 350px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22px;
}

.login-center input[type="submit"] {
  position: absolute;
  width: 139px;
  height: 56px;
  background: #1388ad;
  color: #ffffff;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}

/* Landing page */
.welcome_text {
  position: relative;
  top: 45px;
  padding: 0px 85px;
  font-size: 23px;
  color: #517e99;
}

.welcome_border_bottom {
  position: absolute;
  border: 1px solid #000000;
  top: 71px;
  width: 90%;
  left: 5%;
  height: 0px;
}

/* delete this part if not needed. */
/* Admin Panel Landings */
.landing_welcome {
  position: relative;
  top: 45px;
  padding: 0px 85px;
  font-size: 23px;
  color: #517e99;
}

.landing_welcome_border_bottom {
  position: absolute;
  border: 1px solid #000000;
  top: 71px;
  width: 90%;
  left: 5%;
  height: 0px;
}

/* The Final UI Works */
table,
th,
td {
  border-collapse: collapse;
  padding: 15px 15px;
  text-align: center;
  color: #ecf0f1;
}

table {
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #06265f;
}

td {
  color: #2c3e50;
  background-color: #ecf0f1;
}

td a {
  color: #2c3e50;
}

.full_page_table {
  width: 100%;
}
.search_input{
  padding: 15px 15px;
  margin-right: 3px;
  align-items:stretch;
}

.table_desc {
  margin-bottom: 35px;
  border-bottom: 1px dotted #e2e2e2;
  padding-bottom: 15px;
}

.btn {
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  text-shadow: none;
  border-radius: 3px;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-red {
  background-color: #e74c3c;
  color: white;
  border: 2px solid #e74c3c;
}

.btn-red:hover {
  background-color: #c0392b;
}

.btn-green {
  background-color: #2ecc71;
  color: white;
  border: 2px solid #2ecc71;
}
.btn-green:hover {
  background-color: #27ae60;
}
.btn-blue {
  background-color: #2B7DBC;
  color: white;
  border: 2px solid #2B7DBC;
}

.btn-blue:hover {
  background-color: #06265F;
}

.btn-green-create{
  margin-left: 450px;
}

/* Profile Sample CSS */

.profile_info,
.profile_edit,
.course_assign {
  display: table;
  margin-top: 40px;
}

.profile_info_name,
.profile_info_row,
.profile_edit_name,
.profile_edit_row,
.course_assign_name,
.course_assign_row{
  display: table-cell;
}
.profile_info_row,
.profile_edit_row,
.course_assign_row {
  display: table-row;
}

.profile_info_name,
.profile_edit_name,
.course_assign_name{
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: 400;
  color: #667e99;
  min-width: 135px;
  vertical-align: middle;
}

.profile_info_value,
.profile_edit_input,
.course_assign_input {
  padding-top: 6px;
  padding-left: 10px;
}

.avatar-details{
  display: flex;
  align-items: center;
  font-family: "Roboto",sans-serif;
  /* justify-content:center; */
  padding: 20px;
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-bottom: 1px solid #bec5c4;
  /* background-color: #27ae60; */
  
}
.user-avatar{
  border-radius: 50% !important;
}
.user-details{
  margin-left: 180px;
}
.user-name{
  font-weight: 600;
  font-size: 32px;
  color:#517e99;
}
.user-email>a{
  color:#667e99;
  font-size: 18px;
}
.user-id{
  font-weight: 400;
  font-size: 20px;
  color: #667e99;
}
